<!DOCTYPE html>
<html>
<title>Book Rids</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/originals/12/7e/75/127e75ffd681493adfd504f84f0a4611.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    <i class="fas fa-book-reader fa-4x w3-text-green"></i>
  </div>
  <div class="w3-display-middle w3-center">
    <h1 class="w3-jumbo">Book Rids</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <div class="w3-bar">
       <a href="/books/new/" class="navlink"><button class="w3-button w3-black">Upload Books</button></a>
        <a href="/all_books" class="navlink"><button class="w3-button w3-green">View Books</button></a>
    </div>
  </div>

</div>

</body>
</html>
